body{
    position:  relative;
    min-height: 100%;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y:  scroll;
    color: #333;
    font-family: Tahoma,sans-serif,Helvetica,Arial;
    margin-top: 1px;
}
.header{
    width : 100%;
    height:  56px;
    position: relative;
    z-index: 6;
    background-color: lightpink;
}
.wrapper{
    overflow: auto;
    transition:  all ease .2s;
    height:  100%;
}
.row{
    padding:  0;
    margin:  auto;
    height: 100%;
}
.logo {
    float:  left;
    margin-right: 20px;
    padding: 5px 0 5px 50px;
    border-radius: 4px;
}
.logo img{
    border-radius: 10px;
}
.nav{
    float: left;
    padding-top: 2px;

}
ul{
    list-style: none;
}
.nav ul li > a {
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
a{
    text-decoration: none;
    color:  black;
}
.nav ul li{
    position:  relative;
    float:  left;
    margin-right: 10px;
    margin-left:  30px;
    padding-right: 10px;
    border-right: 1px solid #fff;
    background-color: pink;
    border-radius: 6px;
}
.nav ul li:last-child {
    margin-right:  0;
}
.header>.inner {
    padding: 8px 0;
    width:  100%;
    background-color: green;
    position:  fixed;
    z-index: 9;
}
.search-box{

}
.nav svg {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    fill: #fff;
    margin-left: 5px;
}
.dropdown{
    position:  absolute;
    display: block;
}
.search-box{
    position: relative;
    float: left;
    height: 40px;
    width:  200px;
    border-radius: 4px;
    padding: 12px 5px 5px 56px;
}
.search-box input{
    position:  relative;
    background: #fff;
    border:  none;
    font-size: 12px;
    vertical-align: middle;
    color:#E35335;
    height:  30px;
    width: 250px;
    padding: 0 40px 0 20px;
    border-radius: 2px;
}
.search-wrapper{
    width: 350px;
}
.search-box button{
    height:  32px;
    top: 0;
    right: 0;
    width: 40px;
    cursor: pointer;
    vertical-align: middle;
}
.user img{
    width:  30px;
    vertical-align: middle;
    border-radius: 2px;
    height: 30px;
}
.user-menu {
    cursor: pointer;
    border-radius: 4px;
    float: right;
    position: relative;
    margin: 12px 135px auto auto;
    background-color: whitesmoke;
    height: 31px;
    width: 34px;
}
.user-avatar{
    margin-left: 8px;
    margin-top: 6px;
}

.wrapper-body .inner {
    background-color: rgba(242, 210, 189, 0.2);
    margin-left: 100px;
    margin-right: 100px;
}
.wrapper-body .search-input {
    background-color: rgba(255, 182, 193, 0.75);
    width: 481px;
    height: 86px;
    margin: 0 300px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 13px;
    padding-right: 5px;
    font-family: Tahoma,sans-serif,Helvetica,Arial;
    display: none;
}
input[type=checkbox] {
    line-height: normal;
    margin: 1px 10px 0 0;
}
.wrapper-body .inner button {
    float: right;
    height: 30px;
    width: 74px;
    background-color: rgba(231,139,163,0.7);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
    text-shadow: 1px 1px 2px #ff8f8f, 0 0 25px #f289b5, 0 0 5px #d30f62;
    box-shadow: 2px 5px #c582a6;
}

.manga-list .m-item:nth-child(4n+1){
    clear: both;

}
.m-item {
    width: 24%;
    padding: 0 10px;
    margin-bottom: 20px;
    display: inline-block;
}
.m-img{
    width: 100%;
    float: left;
    overflow: hidden ;
    border-radius: 4px;
    height: 215px;
    margin-bottom: 10px;

}
.m-wrap{
    float: left;
    width: 100%;
}
.m-title{
    line-height: 20px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-size: 14px;
    -webkit-box-orient:  vertical;
    height: 40px;

}
a{
    text-decoration: none;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    font-weight: 400;
}
.m-title a{
    color: #333;
    transition: all ease .2s;
    font-weight: 600;
    font-size: 15px;
}
.m-chapters{
    margin-top: 10px;

}
ul{
    list-style: none;
}
.m-chapters ul li{
    margin-bottom: 6px;
    white-space: nowrap;
    overflow: hidden;
    display: list-item;
    align-items: center;
}
.m-chapters ul li a{
    transition: all .2s ease;
    font-size: 14px;
}
.m-chapters ul li span{
    margin-left: 5px;
    font-size: 12px;
    vertical-align: middle;
    color: #9f9f9f;
    font-style: italic;
    float: right;
    line-height: 20px;
}
.m-chapters ul li:last-child{
    margin-bottom: 0;
}
ul{
    padding-left: 0;
}
.m-img img{
    width: 100%;
    height: auto;

}
img {
    vertical-align: bottom;
}
h1 {
    font-weight: 400;
    display: inline-block;
    font-size: 16px;
    margin-top: 50px;
    margin-left: 17px;
}
.nav {
    padding-left: 38px;
    margin-top: 15px;
    list-style: none;
}
.box-title h2{
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fe94a6;
    font-weight: bold;
    font-size: 16px;
}
.wrapper-body .inner button:hover{
    background-color: #ff9999;
    box-shadow: none;
    transition: 0.2s ease-in;
}
.container-fluid {
    padding-right: 0;
    padding-left: 6px;
    margin-right: auto;
    margin-left: auto;
}
.login {
    position: relative;
    display: -moz-box;
    display: inline-block;
    margin-top: 9px;
    background-color: #ffddd4;
    width: 88px;
    padding-left: 5px;
    line-height: 45px;
    border-radius: 4px;
    text-decoration:  none;
}
.kkk{
    border: 1px;
    position:  relative;

}
.sss:hover, .kkk:hover{
    background-color: #ff9999;
    text-decoration:  none;
}

.col-right{
    float: right;
}
.box-title{
    margin-bottom: 20px;
    text-transform: uppercase;
    color:  #fe94a6;
}
.box-title .h-title h2{
    float: left;
}
.box-title h2{
    font-weight:  bold;
}
.box-title .h-title a{
    transition: all 0.2s ease;
    font-size: 14px;
}
.history{
    margin-bottom: 20px;
    padding:  20px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.clearfix{
    list-style: none;
}
.history ul li .r-img{
    height: 60px;
    overflow: hidden;
}
.r-img{
    float: left;
    width: 60px;
    border-radius: 4px;
    margin-right: 10px;
}
.r-img img{
    width:  127%;
    height: auto;
}
a{
    text-decoration: none;
}
.r-title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient:  vertical;
    line-height: 24px;
}
.r-title a{
    transition:  all .2s ease;
    font-size: 18px;
    padding-left: 21px;
}
.r-chapter{
    margin-top: 10px;
    margin-left: 100px;
    font-size: 16px;
}
.history .r-chapter a {
    font-style:  italic;
    font-size: 16px;
    padding-left: 21px;
}
.history ul il{
    float: left;
    width:  100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
ul li:last-child{
    margin-bottom: 0;
    border: none;
    padding:  0;
}
.ranking ul li{
    float: left;
    width:  100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.cmt-item{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cecece;

}
.cmt-manga{
    font-size: 14px;
    margin-bottom: 10px;
    overflow:  hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient:  vertical;
}
.cmt-manga a {
    color:  #0000;
}
.avatar{
    width:  7%;
    float:  left;
    margin-left: 10px;
}
.avatar img {
    width: 100%;
    border-radius: 7px;
    height: auto;
    margin-top: 5px;
}
img{
    vertical-align: bottom;
}
.cmt-user-name{
    margin-bottom: 5px;
}
.cmt-user-name .nickname {
    color: #7f00a5;
    display: inline-block;
    margin-right: 114px;
    margin-left: 22px;
    vertical-align: middle;
    line-height: 24px;
    font-size: 16px;
}
.cmt-chapter{
    font-size: 12px;
    padding:  2px 10px;
    color: #333;
    border-radius: 40px;
    display:  inline-block;
    border:  1px solid #ddd;
    vertical-align: middle;
}
.cmt-content {
    margin-bottom: 10px;
    font-size: 14px;
    margin-left: 103px;
}
.cmt-item:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}
.content {
    position: relative;
    z-index:  5;
}

.new-comments .inner {
    margin-left: 10px;
    margin-right: 5px;
}
.cmt-user-name {
    margin-bottom: 5px;
    padding-top: 5px;
}
.footer{
    position:  relative;
    z-index: 5;
    padding: 0;
    color: #fff;
    font-size: 14px;
}
.footer .row{
    padding: 0 20px;
    margin: auto;
    height: 100%;
}

p {
    margin: 0 0 4px;
}
.footer{
    background-color: lightpink;
}
.footer .row p
{
    padding-left: 450px;
}
.footer .row a {
    font-weight:  bold;
    color:  white;
}
#loginbutton{
    padding-right: 94px;
    display:none;
}
.user-avatar {
    margin-left: 2px;
    margin-top: 1px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
}
.m-wrap{
    width:160px;
    height:80px;
}
.m-chapters span {
    margin-right: 12px;
}

.m-wrap .m-title {
    text-align: center;
}
