.login{
display: flex;
align-items: center; 
justify-content: center; 
height: 100vh;

}

.box {
    background: #fff;
    padding: 30px;
    padding-right: 68px;
    border-radius: 4px;
    box-shadow: 1px 0px 7px #bdbdbd;
    /* margin-right: 31px; */
    background-image: url(https://mcdn.wallpapersafari.com/medium/7/85/LRFqhu.jpg);
}
form{
    width: 250px;
}
.box-title img{
    width: 250px;
    height: 50px;
    position: relative;  
    margin-left: 20px; 
    border-radius: 50px;

}
.box-body{
margin-top: 30px;
}
.box-footer{
	margin-top: 20px;
}
.box-footer a{
	text-decoration: none;
	background: orange;
	box-shadow: 1px 0px 7px #bdbdbd;
	color: white;

}

.box-body input[type=password], .box-body input[type=text] {
    background: #fff;
    border-radius: 4px;
    color: #333;
    border: 1px solid #ddd;
    height: 36px;
    position: relative;
    z-index: 2;
    padding: 0 15px;
    width: 100%;
    font-size: 14px;
}
.box-footer .signup {
	font-size: 20px;
}
.signup a{
	float:  right;
    color: #fff;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    color: #fff;
    transition: all .3s ease;
    background: #f0ad4e;
}
.signup a {
	float:  left;
}
.captcha {
    margin-top: 0px;
    width: 51px;
    height: 20px;
    display: inline-block;
}
.captcha-holder{
display: inline-block;
}
.codecap{
 color: white;
}
.signup{
    position: relative;
margin-left:100px;
}